
[MASTER]
init-hook='import sys; sys.path.append("/Users/stefanie.kischak/other code/smrpg_web_randomizer")'

[MAIN]

disable=C0123,C0302,R0801,R0901,R0902,R0903,R0904,R0911,R0912,R0913,R0914,R0915,R0916,R1702,W0221,W0401,W0614

[FORMAT]
# Good variable names which should always be accepted, separated by a comma
good-names=x,y,z,f,hp,fp,xp,id