Django==5.1.7
jsonfield2==4.0.0.post0
Markdown==3.7
nlzss==0.1.2
Pillow==10.4.0
pytest==8.3.5
PyYAML==6.0.2
scipy
Wii.py==0.1
pycryptodome==3.21.0
smrpgpatchbuilder==4.1.8
git+https://gitlab.com/pidgezero_one/python-bps.git@0.1#egg=python-bps
gunicorn==23.0.0
psycopg2-binary==2.9.10