{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <div class="card border-info my-3">
        <div class="card-body">
            SMRPG Randomizer has a setting that includes items and boss fights only found in the remake. However, if you're looking or a randomizer for the remake itself...
        </div>
    </div>
    <h1>SMRPG Remake Randomizer</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">How to Play</h3>
        </div>
        <div class="card-body">
            <p>The 2023 Switch remake of SMRPG also has a randomizer! You can find info about how to play it on <a target="_blank" href="https://github.com/ObsidianMakerDevelopment/super-mario-rpg-switch-randomizer">GitHub</a>. (Note: it is not an open world randomizer like this one.)</p>
            <p>The remake randomizer project is <b>NOT</b> officially affiliated with the SMRPG Randomizer project and our developers do not work on it. The remake randomizer developers are also not in any of the SMRPG discords, so you will have to get in touch with them elsewhere if you want to contribute to developing it.</p> 
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Remake Modding Discord Server</h3>
        </div>
        <div class="card-body">
            <p>Though not as active as the SNES modding discord, this server is full of great resources if you're interested in contributing to the randomizer project for the Switch release of SMRPG!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/7VcMZs6bgY"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
{% endblock %}
