{# Recursive template to show flag UI elements on randomize page. #}
{# Split these into their own elements when we know how they're gonna work #}

<div class="flag-container {% for mode in flag.modes %} flag-{{ mode }}{% endfor %}">
    {% if flag.type == "boolean" %}
        <input type="checkbox" class="flag-form-input flag-form-input-checkbox flag-{{ flag.get_slug }}"
               id="flag-{{ flag.get_slug }}" 
               {% if flag.default %}checked{% endif %}
               name="flag-{{ flag.get_slug }}">
    {% elif flag.type == "number" %}
        <input type="number" class="flag-form-input flag-form-input-number flag-{{ flag.get_slug }}"
               id="flag-{{ flag.get_slug }}" 
               name="flag-{{ flag.get_slug }}"
               max="{{ flag.max }}"
               min="{{ flag.min }}"
               value="{{ flag.default }}">
    {% elif flag.type == "select_one" %}
        <select class="flag-form-input flag-form-select flag-{{ flag.get_slug }}"
                id="flag-{{ flag.get_slug }}" 
                value="{{ flag.default }}">
                {% for choice in flag.choices %}
                    <option value="{{ choice.name }}">{{ choice.value }}</option>
                {% endfor %}
        </select>
    {% elif flag.type == "categorization" %}
        <div class="flag-form-input flag-{{ flag.get_slug }} flag-categorization-enabled">
        {% for choice in flag.options %}
            <div>{{ choice.value }}</div>
        {% endfor %}
        </div>
        <div class="flag-form-input flag-{{ flag.get_slug }} flag-categorization-disabled"></div>
        {% for choice in flag.options %}
            <div>{{ choice.value }}</div>
        {% endfor %}
        </div>
    {% endif %}
</div>
