{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Social Media</h3>
        </div>
        <div class="card-body">
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://bsky.app/profile/randomizer.smrpgspeedruns.com"
                    rel="noopener noreferrer" role="button" target="_blank">Follow SMRPG Randomizer on Bluesky</a>
                    <br><br>
                <a class="btn btn-info btn-lg btn-xl" href="https://twitter.com/SMRPGRandomizer"
                    rel="noopener noreferrer" role="button" target="_blank">Follow SMRPG Randomizer on Twitter</a>
                
            </div>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Discord Randomizer Section</h3>
        </div>
        <div class="card-body">
            <p>The randomizer was originally developed by SMRPG speedrunners, so its home base is a dedicated section in the speedrunning discord! Join our community to race with other people, and see news and discussion about upcoming
                features for the randomizer.</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="http://discord.smrpgspeedruns.com"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Archipelago Discord Channel</h3>
        </div>
        <div class="card-body">
            <p>Want to play SMRPG in a multiworld setting? You can play SMRPG Randomizer in <a href="https://archipelago.gg" target="_blank" rel="noopener noreferrer">Archipelago</a>! It's not officially supported yet, so search for "Super Mario RPG" in the "future-game-design" forum for all your SMRPG Archipelago needs.</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/Py2xnXaP"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
{% endblock %}
