{% extends 'randomizer/layouts/default.html' %}
{% load static %}
{% load levels_range %}

{% block content %}
    {% include 'randomizer/_rom_base.html' %}

    <div id="generate-container">
        {% include 'randomizer/_rom_loader.html' %}

        <div class="card border-success my-3">
            <form id="config">
                {% csrf_token %}
                <input type="hidden" name="region" id="region" value=""/>
                <input type="hidden" name="flags" id="flags" value=""/>

                <div class="card-header bg-success text-white">
                    <h3 class="card-title">Generate Randomized Game (v{{ version|default:'UNKNOWN' }})</h3>
                </div>
                <div class="card-header bg-info text-white">
                    <h4 class="card-title">Select Mode</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="mode" class="input-group-text">Mode</label>
                                </div>
                                <select id="mode" name="mode" class="form-control">
                                    <option value="open">Open</option>
                                    <option value="linear">Linear</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mode-description" id="mode-description-linear">
                        <ul>
                            <li>Legacy mode from the original version of the randomizer.  Plot progression is the
                                same as the vanilla game; the map is <strong>not</strong> open from the start.</li>
                            <li>Characters join at vanilla spots.</li>
                            <li>Stars are awarded at their vanilla spots.</li>
                            <li><strong>NOTE:</strong> This is a <strong>LEGACY</strong> mode! Many flags are not
                                available in this mode, and new features are <strong>NOT</strong> being added to this
                                mode! It is significantly different from the main open world mode, and has only been
                                kept intact to preserve some of the experience of the original version of the randomizer
                                made by abyssonym.</li>
                        </ul>
                    </div>
                    <div class="mode-description" id="mode-description-open">
                        <ul>
                            <li>Non-linear progression, most of the map is open to you from the beginning.</li>
                            <li>Collect all the missing Star Pieces to access the final area (Bowser's Keep and/or
                                Factory, depending on your flag choice).
                            </li>
                            <li>Depending on your flag choice, those star pieces may not be on the bosses that
                                originally have them.
                            </li>
                            <li>The game is completed when you finish the final boss of the Factory.</li>
                        </ul>
                    </div>
                </div>
                <div class="card-header bg-info text-white">
                    <h4 class="card-title">Select Preset (optional)</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="preset" class="input-group-text">Select Preset</label>
                                </div>
                                <select id="preset" name="preset" class="form-control">
                                    {% for preset in presets %}
                                        <option value="{{ preset.flags }}">{{ preset.name }}</option>
                                    {% endfor %}
                                    <option value="custom">Custom Flag String</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-info"
                                            onclick="applyFlags();">Apply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for preset in presets %}
                        <p class="preset-description" data-preset-flags="{{ preset.flags }}">{{ preset.description }}</p>
                        <p class="preset-description text-info" data-preset-flags="{{ preset.flags }}">
                            <em>{{ preset.flags }}</em>
                        </p>
                    {% endfor %}
                    <div class="row" id="custom-flag-entry">
                        <div class="col">
                            <p>You can enter a custom flag string below.  Hit Apply when you're done.</p>
                            <div class="input-group">
                                <input type="text" id="quick-custom" name="quick-custom" class="form-control"
                                       placeholder="Custom Flag String">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-info text-white" id="review-flags">
                    <h4 class="card-title">Review Flags</h4>
                    <h6 class="card-title">Flags in <span class="text-danger">red</span> are considered "hard"
                        settings and are not recommended for new players.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-warning" onclick="applyFlags('')">Clear All Flags</button>
                    </div>
                    <div class="container" id="flag-tabs">
						<div class="row">
							<ul class="nav nav-tabs col-12">
							{% for tab in tabs %}
								<li class="nav-item">
									<a class="nav-link {% if tab.name == "Shuffle logic" %}active{% endif %}" href="#" id="{{tab.htmlname}}-tab" data-toggle="tab" role="tab" aria-controls="{{tab.htmlname}}" aria-selected="true">{{ tab.name }}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
						{% for tab in tabs %}
						<div class="tab row {% if tab.name == "Shuffle logic" %}show active{% endif %}" id="{{tab.htmlname}}" role="tabpanel" aria-labelledby="{{tab.htmlname}}-tab">
							{# Show categories and flag inputs. #}
							{% for category in tab.categories %}
								<div class="category-container col-md-6">
									<div class="card border-info my-2">
										<div class="card-header"><h5>{{ category.name }}</h5></div>
										<div class="card-body display-table">
												{# Show flags and options here. #}
												{% for flag in category.flags %}
													{% include 'randomizer/_show_flag_ui.html' with flag=flag parent_value='' subsection_of=null checked=False %}
												{% endfor %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						{% endfor %}
					
					
                        {# Show categories and flag inputs. #}
                        {% for category in categories %}
                            <div class="col-md-6 category-container">
                                <div class="card border-info my-2">
                                    <div class="card-header"><h5>{{ category.name }}</h5></div>
                                    <div class="card-body">
                                        {# Show flags and options here. #}
                                        {% for flag in category.flags %}
                                            {% include 'randomizer/_show_flag_ui.html' with flag=flag parent_value='' is_radio=False checked=False %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
					</div>
                </div>
                <div class="card-header">
                    <div class="form-group">
                        <input type="text" id="flag-string" class="form-control form-control-lg text-center" readonly
                               onclick="$(this).select(); document.execCommand('copy');">
                        <label for="flag-string" class="d-none"></label>
                    </div>
                    <p class="font-italic">This is the flag string for this randomization. Copy and save this text if
                        you wish to easily reapply this combination of flags for future randomizations.
                    </p>
                </div>
                <div class="card-header bg-info text-white">
                    <h4 class="card-title">Set Seed (optional)</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="seed" class="input-group-text">Seed</label>
                                </div>
                                <input type="text" id="seed" name="seed" class="form-control" placeholder="random">
                                <div class="input-group-append">
                                    <button id="seed-clear" class="btn" type="button">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'randomizer/_rom_settings.html' %}
                <div class="card-footer">
                    <div id="seed-generate" style="display:none">
                        <div class="alert alert-danger alert-dismissible" id="generate-error-box" role="alert"
                             style="display:none">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span class="sr-only">Error:</span>
                            <span class="message" id="generate-error-message">Cannot Read ROM file.</span>
                        </div>
                        <div class="btn-group btn-flex" role="group">
                            <button type="button" name="generate" class="btn btn-success" id="generate-btn" disabled>Generate ROM</button>
                        </div>
                    </div>
                    <div id="rom-select-warning" class="alert alert-warning" role="alert" style="display:none">
                        You need to upload a ROM above!
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="seed-details" class="card border-success my-3" style="display:none">
        <div class="card-header bg-success text-white">
            <h3 class="card-title float-left">Game Details</h3>
            <div class="btn-toolbar float-right">
                <button role="button" class="btn btn-light text-dark border-secondary" id="generate-another">
					Generate Another
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div role="group" class="btn-group btn-flex mr-3 mb-3">
                        <button name="save_rom" class="btn btn-success" id="btn-save-rom" disabled>Save Rom</button>
                    </div>
                    <div role="group" class="btn-group btn-flex mr-3 mb-3">
                        <button name="save_wad" class="btn btn-success" id="btn-save-wad" disabled>Save Wad</button>
                    </div>
                </div>
            </div>
            {% include 'randomizer/_rom_info.html' with show_permalink=True %}
        </div>
    </div>

    <!-- JSON representation of flag hierarchy -->
    {{ flags|json_script:"flags_json" }}

    <script>
		
		//@TODO: make the controls on this page compatible with keyboard navigation, reset nums/ranges to bounds whenever out of bounds
		
		const asciitable = ['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','!','@']; 
		
	
		const TYPE_CHECKBOX = 1;
		const TYPE_DROPDOWN = 2;
		const TYPE_SLIDER = 5;
		const TYPE_NUMBER = 4;
		const BYTESTRING_LENGTH = 6;
		
		function dec2bin(dec){
			return (dec >>> 0).toString(2);
		}
		function findMinValue(element) {
			var minValue = undefined;
			$('option', element).each(function() {
				var val = $(this).attr('value');
				val = parseInt(val, 10);
				if (minValue === undefined || minValue > val) {
					minValue = val;
				}
			});
			return minValue;
		}
		function findMaxValue(element) {
			var maxValue = undefined;
			$('option', element).each(function() {
				var val = $(this).attr('value');
				val = parseInt(val, 10);
				if (maxValue === undefined || maxValue < val) {
					maxValue = val;
				}
			});
			return maxValue;
		}
	  
	  
        FLAGS = JSON.parse(document.getElementById('flags_json').textContent);
		console.table(FLAGS);

        function applySeed(rom) {
            return new Promise((resolve, reject) => {
                $("#region").val(rom.region);
                $.post("{% url 'randomizer:generate' %}", $("#config").serialize(), (patch) => {
                    if (patch.error) {
                        reject(patch);
                    } else {
                        rom.applyModeChanges(patch.mode).then(() => {
                            rom.parsePatch(patch.patch);
                            resolve(patch);
                        });
                    }
                }, "json").fail(reject);
            });
        }

        function seedFailed(patch = {}) {
            let errmsg;
            if (patch.error) {
                errmsg = patch.error;
            } else {
                errmsg = "Failed Creating Seed :(";
            }

            $("#generate-btn").html("Generate ROM").prop("disabled", false);
            $("#generate-error-message").html(errmsg);
            $("#generate-error-box").show().delay(2000).fadeOut("slow");
        }

        function seedApplied(patch) {
            return new Promise((resolve) => {
                $("#generate-btn").html("Generate").prop("disabled", false);
                $("#btn-save-rom").prop("disabled", false);
                if (wad.valid) {
                    $("#btn-save-wad").prop("disabled", false);
                } else {
                    $("#btn-save-wad").prop("disabled", true);
                }
                updateSeedDetailsFromPatch(patch);
                rom.parseInfoFromPatch(patch);
                // Scroll back to the top after generation is done.
                $('html').animate({scrollTop: 0}, 500);
                resolve(rom);
            });
        }
		
		function updateFlags(flags) {
			for (let flag of flags) {
				if (flag.identifier) {
					var element = $('#flag-' + flag.identifier);
					visible = !$('.display-row.' + flag.identifier).hasClass('hidden-flag');
					if (flag.type == TYPE_CHECKBOX) {
						flag.current_value = (visible ? (element.is(":checked") ? 1 : 0) : 0);
					}
					else {
						flag.current_value= (visible ? element.val() : flag.default);
					}	
					if (flag.options && flag.options.length > 0) {
						updateFlags(flag.options)
					}		
				}
			}
		}
		
		
		function applyFlags(flags = null, initial_load = false) {
			// Get flag string from selected preset if not provided.
			if (flags === null || flags === undefined) {
				flags = $('#preset').val();
				if (flags === 'custom') {
					flags = $('#quick-custom').val();
				}
			}

			// Clear all the flags
			function resetFlag(flags) {
				for (let flag of flags) {
					if (flag.type == TYPE_CHECKBOX) {
						$('#flag-' + flag.identifier).prop('checked', false);
						flag.current_value = 0;
					}
					else if (flag.type == TYPE_DROPDOWN || flag.type == TYPE_SLIDER || flag.type == TYPE_NUMBER) {
						$('#flag-' + flag.identifier).val(flag.default);
						flag.current_value = flag.default;
					}
					if (flag.type == TYPE_SLIDER) {
						flagname = '#flag-' + flag.identifier + '-parser';
						$(flagname).text(flag.default);
					}
					if (flag.hasOwnProperty("options") && flag.options.length > 0) {
						resetFlag(flag.options);
					}
				}
			}
			show_shuffle_children();

			// Parse flag string and set flags on the page.
			bytestring = "";
			
			for (i = 0; i < flags.length; i++) {
				binval = dec2bin(asciitable.indexOf(flags[i]));
				final_binval = binval;
				for (j = binval.length; j < BYTESTRING_LENGTH; j++) {
					final_binval = "0" + final_binval; 
				}
				bytestring += final_binval;
			}
			console.log(flags)
			console.log(bytestring)
			
			var bytestring_index = 0;
			
			function setBits(flag) {
				element = $("#flag-" + flag.identifier);
				if (flag.type == TYPE_CHECKBOX) {
					if (bytestring.charAt(bytestring_index) == '1') {
						element.prop( "checked", true );
					}
					else {
						element.prop( "checked", false );
					}
					console.log(bytestring_index, flag.identifier, bytestring.charAt(bytestring_index));
					bytestring_index++;
				}
				else {
					if (flag.type == TYPE_DROPDOWN) {
						min = findMinValue(element);
						max = findMaxValue(element);
						step = 1;
					}
					else {
						min = flag.min;
						max = flag.max;
						step = element.attr("step");
						if (!step) {
							step = 1;
						}
					}
					length = dec2bin((max - min) / step).length;
					bitsToSet = bytestring.substr(bytestring_index, length);
					val = (parseInt( bitsToSet.split('').join(''), 2 ) * step) + min;
					element.val(val);
					console.log(bytestring_index, flag.identifier, bitsToSet, val);
					bytestring_index += length;
					if (flag.type == TYPE_SLIDER) {
						flagname = '#flag-' + flag.identifier + '-parser';
						$(flagname).text(val);
					}
				}
				if (flag.type == TYPE_CHECKBOX) {
					if (flag.hasOwnProperty("options") && flag.options.length > 0) {
						flag.options.forEach(function(f) {
							setBits(f);
						});
					}
				}
			}
			
			if (flags !== null && flags != '') {
				FLAGS.forEach(function(flag) {
					setBits(flag);
				});
			}
			else {
				resetFlag(FLAGS);
			}
			
			show_shuffle_children();
			
			buildFlagString();

			// Scroll to review flags.
			if (!initial_load)
				$('html').animate({scrollTop: $('#review-flags').offset().top}, 500);
		}
		
			
		show_shuffle_children = function() {
		
		
			parents = ['StarPieceShuffle', 'BossShuffle', 'CharacterJoinOrder', 'ShopShuffle', 'ChestShuffleFlag', 'KeyItemShuffle'];
			
			parents.forEach(function(parent) {
				$('.flag-subsection-' + parent).removeClass('hidden-flag');
			});
			
			$('#flag-StarPieceShuffle').prop('disabled', false);
			$('#flag-ReplaceItems').prop('disabled', false);
			
			parents.forEach(function(parent) {
				if (!$('#flag-' + parent).is(":checked")) {
					$('.flag-subsection-' + parent).addClass('hidden-flag');
				}
			});
			
			if ($('#flag-ChestRewardLogic').val() == 0 || !($('#flag-ChestShuffleFlag').is(":checked"))) {
				$('#flag-ReplaceItems').prop('checked', false).prop('disabled', true);
			}
			
			if ($('#flag-ChestShuffleFlag').is(":checked") && $('#flag-ChestRewardLogic').val() >= 2 && $('#flag-ChestRewardStars').val()  == 0) {
				$('.StarEXP').addClass('hidden-flag');
			}
			else {
				$('.StarEXP').removeClass('hidden-flag');
			}
			
			if ($('#flag-EquipmentProperties').val() != 2) {
				$('.EquipmentStats, .EquipmentBuffs, .EquipmentNoSafetyChecks').addClass('hidden-flag');
			}
			else {
				$('.EquipmentStats, .EquipmentBuffs, .EquipmentNoSafetyChecks').removeClass('hidden-flag');
			}
			
			if ($('#flag-KeyItemDistribution').val() == 0 || !($('#flag-KeyItemShuffle').is(":checked")) || $('#flag-ChestRewardLogic').val() < 2 || !($('#flag-ChestShuffleFlag').is(":checked"))) {
				$(".ChestKIInclude3DMaze").addClass('hidden-flag');
				$('.ChestKIIncludeCulex, .ChestKIInclude30, .ChestKIInclude100').addClass('hidden-flag');
			}
			else if ($('#flag-KeyItemShuffle').is(":checked") && $('#flag-ChestShuffleFlag').is(":checked")) {
				if (!($('#flag-ChestRewardLogic').val() >= 2 && $('#flag-MonstroTownShuffle option:selected').val() == 4))
					$('.ChestKIIncludeCulex, .ChestKIInclude30, .ChestKIInclude100').addClass('hidden-flag');
			}
			
			$("#flag-WinCondition option[value^='1']").show();
			if ($('#flag-StarPiecesRequired').val() == 0) {
				$('.flag-subsection-StarPieceShuffle').addClass('hidden-flag');
				$('#flag-StarPieceShuffle').prop('checked', false).prop('disabled', true);
				if ($("#flag-WinCondition option:checked").val() == 1) $("#flag-WinCondition").val(0);
				$("#flag-WinCondition option[value^='1']").hide();
			}
			else if ($('#flag-StarPieceShuffleLogic').val() == 0 || !($('#flag-StarPieceShuffle').is(":checked")) || $('#flag-ChestRewardLogic').val() < 2 || !($('#flag-ChestShuffleFlag').is(":checked"))) {
				$(".StarInclude3DMaze").addClass('hidden-flag');
				$('.StarInclude30, .StarInclude100').addClass('hidden-flag');
			}
			else if ($('#flag-StarPieceShuffle').is(":checked") && $('#flag-ChestShuffleFlag').is(":checked")) {
				if (!($('#flag-ChestRewardLogic').val() >= 2 && $('#flag-MonstroTownShuffle option:selected').val() == 4))
					$('.StarInclude30, .StarInclude100').addClass('hidden-flag');
			}
			
			if (!$('#flag-ChestShuffleFlag').is(":checked") || $('#flag-ChestRewardLogic').val() < 2) {
				$(".StarPieceShuffleLogic").addClass('hidden-flag');
				$(".KeyItemDistribution, .ChestKIInclude3DMaze").addClass('hidden-flag');
			}
			
			
			
			if ($('#flag-CharacterJoinOrder').is(":checked")) {
				characters = ["Mario", "Mallow", "Geno", "Bowser", "Toadstool"];
				excluded = [];
				characters.forEach(function(character) {
					if ($('#flag-ChooseStarter option:selected').text().indexOf(character) > -1) {
						$(".Exclude" + character).addClass("hidden-flag").prop('checked', false);
					}
					else {
						$(".Exclude" + character).removeClass("hidden-flag");
					}
					
					if ($("#flag-Exclude" + character).is(":checked")) {
						$("#flag-ChooseStarter option:contains('" + character + "')").hide();
						excluded.push(character);
					}
					else {
						$("#flag-ChooseStarter option:contains('" + character + "')").show();
					}
				});
				characters.forEach(function(character) {
					if (excluded.length >= 4 && excluded.indexOf(character) < 0) {
						$("#flag-Exclude" + character).prop('disabled', true);
					}
					else {
						$("#flag-Exclude" + character).prop('disabled', false);
					}
				});
			}
			
			if ($('#flag-ChestRewardLogic').val() < 2) {
				$('.ChestRewardTier, .ChestRewardStars, .ChestExcludeCoins, .ChestExcludeFrogCoins, .ChestExcludeFlowers, .ChestExcludeMushrooms, .MonstroTownShuffle').addClass('hidden-flag');
			}
			else if ($('#flag-ChestShuffleFlag').is(":checked")) {
				$('.ChestRewardTier, .ChestRewardStars, .ChestExcludeCoins, .ChestExcludeFrogCoins, .ChestExcludeFlowers, .ChestExcludeMushrooms, .MonstroTownShuffle').removeClass('hidden-flag');
			}
			if ($('#flag-ChestRewardLogic').val() < 2) {
				$('.ShopTier, .ShopNotGuaranteed').addClass('hidden-flag');
			}
			
			
			
			
			
			
		}


        // Helper function to build flag string part for a specific flag and recursively handle choices and suboptions.
        function buildFlagStringPart(flag) {
			binstring = '';
			if (flag.identifier) {
				var element = $('#flag-' + flag.identifier);
				visible = !$('.display-row.' + flag.identifier).hasClass('hidden-flag');
				if (flag.type == TYPE_CHECKBOX) {
					binstring += (visible ? (element.is(":checked") ? 1 : 0) : 0);
				}
				else {
					if (flag.hasOwnProperty("max")) {
						binstringmax = dec2bin((flag.max - flag.min) / element.attr("step"));
						min = flag.min;
					}
					else {
						binstringmax = dec2bin(findMaxValue(element))
						min = 0;
					}
					binstringbase = '';
					for (i = 0; i < binstringmax.length; i++) {
						binstringbase += '0';
					}
					binval = dec2bin(element.val() - min);
					true_value = binstringbase.substr(binval.length) + binval;
					binstring += (visible ? binstringbase.substr(binval.length) + binval : binstringbase);
				}			
				if (flag.options && flag.options.length > 0) {
					flag.options.forEach(function(option) {
						binstring += buildFlagStringPart(option)
					});
				}
				return binstring;
			}
			else {
				return null;
			}
        }

        // Build flag string based on selected flags visible for this mode.
        function buildFlagString() {
		
			flagString = '';
			FLAGS.forEach(function(flag) {
				flagString += buildFlagStringPart(flag)
			})
			
			init_length = flagString.length;
			for (i = init_length; i < Math.ceil(init_length / BYTESTRING_LENGTH) * BYTESTRING_LENGTH; i++) {
				flagString += "0";
			}
			
			buildFlagStringPart(FLAGS)
			
			finalFlagString = "";
			
			byteString = "";
			for (i = 0; i < flagString.length; i++) {
				byteString += flagString[i];
				if (byteString.length == BYTESTRING_LENGTH || i == flagString.length - 1) {
					index = parseInt( byteString.split('').join(''), 2 );
					finalFlagString += asciitable[index];
					byteString = "";
				}
			}
			//make divisible by 6
			
			
			console.log(flagString, finalFlagString)
		
            $('#flag-string').val(finalFlagString);
            $('#flags').val(finalFlagString);

            // Save current flags in local storage.
            localforage.setItem("rom.flags", finalFlagString);
        }

        $(() => {
		
			// Apply custom seed flag.
            $("#seed-clear").click(() => {
                $("#seed").val("");
            });
			
			$('.has-children, #flag-MonstroTownShuffle, #flag-KeyItemDistribution, #flag-StarPieceShuffleLogic, #flag-ExcludeMario, #flag-ExcludeMallow, #flag-ExcludeGeno, #flag-ExcludeBowser, #flag-ExcludeToadstool, #flag-ChooseStarter, #flag-ShopLogic, #flag-ChestRewardLogic, #flag-KeyItemDistribution, #flag-StarPiecesRequired, #flag-ChestRewardStars, #flag-EquipmentProperties').change(() => {
				show_shuffle_children();
			});

            // Randomization mode
            $("#mode").change((event) => {
                let mode = $(event.target).val();
                localforage.setItem("rom.mode", mode);

                // Show description for the selected mode.
                $('.mode-description').hide();
                $(`#mode-description-${mode}`).show();

                // Show flags that are for this mode only.
                let flags = $('.flag-container');
                flags.not(`.flag-${mode}`).addClass('hidden-flag');
                flags.filter(`.flag-${mode}`).removeClass('hidden-flag');

                // Hide categories that have no visible flags for this mode.
                $(".category-container").show().each((index, elem) => {
                    if ($(elem).find(`.card > .card-body > .flag-${mode}`).length === 0) {
                        $(elem).addClass('hidden-flag');
                    } else {
                        $(elem).removeClass('hidden-flag');
                    }
                });

                // Rebuild flag string for new flags.
				show_shuffle_children();
                buildFlagString();
            });

            $("#seed-clear").click(() => {
                $("#seed").val("");
            });
			
            localforage.getItem("rom.mode").then((value) => {
                let elem = $("#mode");
                if (value === null) {
                    value = 'open';
                }
                elem.val(value);

                // If they had an old mode value cached, default to open mode.
                if (elem.prop('selectedIndex') === -1) {
                    elem.val('open');
                }

                elem.change();
            });

            // Hide quick custom input when not selected.
            $('#preset').change((event) => {
                let flags = $(event.target).val();
                let descriptions = $('.preset-description');
                descriptions.hide();
                if (flags === 'custom') {
                    $('#custom-flag-entry').show();
                } else {
                    $('#custom-flag-entry').hide();
                    descriptions.filter(`[data-preset-flags='${flags}']`).show();
                }
            }).change();

            // Flag javascript event handlers.
            $(".flag-form-input").change(function() {updateFlags(FLAGS); buildFlagString();});

            // Generate button
            $("#generate-btn").click((event) => {
                $("#seed-details").hide();
                $(event.target).html("Generating...").prop("disabled", true);
                resetRom().then((rom) => {
                    applySeed(rom).then(seedApplied, seedFailed);
                });
            });

            // Save ROM button
            $("#btn-save-rom").click(() => {
                return rom.save(rom.makeFilename("sfc"));
            });

            // Save WAD button
            $("#btn-save-wad").click(() => {
                rom.updateChecksum().then(() => {
                    $("#btn-save-wad").html("Generating...").prop("disabled", true);
                    $("#btn-save-rom").prop("disabled", true);

                    let fd = new FormData();
                    fd.append("region", rom.region);
                    fd.append("rom", rom.toBlob());
                    fd.append("wad", wad.toBlob());

                    $.ajax("{% url 'randomizer:pack' %}", {
                        method: "POST",
                        processData: false,
                        contentType: false,
                        dataType: 'binary',
                        data: fd,
                        xhrFields: {
                            responseType: 'blob',
                        },
                        success: (result) => {
                            let filename = rom.makeFilename("wad");
                            saveAs(result, filename);
                        },
                        error: () => {
                            $("#error-message").html("Failed Packing Wad :(");
                            $("#error-box").show().delay(2000).fadeOut("slow");
                        },
                        complete: () => {
                            $("#btn-save-wad").html("Save Wad").prop("disabled", false);
                            $("#btn-save-rom").prop("disabled", false);
                        },
                    });
                });
            });

            // Generate Another button
            $("#generate-another").click(() => {
                $("#seed-details").hide();
                $("#generate-container").show();
            });

            // Apply stored flags, if any.
            localforage.getItem("rom.flags").then((value) => {
                if (value) {
                    applyFlags(value, true);
                }
            });
        });
		
		
		/* flag display */
		
		$('#flag-tabs .nav-link').click(function() {
			$('.tab').removeClass("active");
			$('#' + $(this).attr('id').split('-')[0]).addClass("active");
		});
		
		updatingSlider = false;
		$('#flag-tabs input[type="range"]').on({
			mousedown: function(e) {
				updatingSlider = true;
			},
			mousemove: function(e) {
				if (updatingSlider) {
					e.stopPropagation();

					var width = $(this).width();
					var offset = $(this).offset();
					
					var value = 
					Math.min($(this).attr('max'),
					Math.max($(this).attr('min'), 
						Math.round(((e.pageX - offset.left) / width) * ($(this).attr('max') - $(this).attr('min'))) +parseInt($(this).attr('min'))
					));

					$('#' + $(this).attr('id') + "-parser").text(value)
				}
			},
			mouseup: function() {
				updatingSlider = false;
				$('#' + $(this).attr('id') + "-parser").text($(this).val())
			}
		});
		
    </script>
{% endblock %}
