{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Resources to Level Up Your SMRPG Skills</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Speedrunning Wiki</h3>
        </div>
        <div class="card-body">
            <p>Want to learn some speedrunning tech that can diversify your randomizer gameplay? Can't nail Super Jumps? A specific timed hit is eluding you? You'll find everything you need to beef up your SMRPG skills in the speedrunning wiki!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://smrpgspeedruns.com"
                    rel="noopener noreferrer" role="button" target="_blank">Visit</a>
            </div>
        </div>
    </div>
{% endblock %}
