{% extends 'randomizer/layouts/default.html' %}

{% block content %}
    <h1>Gameplay</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Speedrunning Wiki</h3>
        </div>
        <div class="card-body">
            <p>Want to learn some speedrunning tech that can diversify your randomizer gameplay? Can't nail Super Jumps? A specific timed hit is eluding you? You'll find everything you need to beef up your SMRPG skills in the speedrunning wiki!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://smrpgspeedruns.com"
                    rel="noopener noreferrer" role="button" target="_blank">Visit</a>
            </div>
        </div>
    </div>
    <h1>Discord Servers</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Discord Randomizer Section</h3>
        </div>
        <div class="card-body">
            <p>The randomizer was originally developed by SMRPG speedrunners, so its home base is a dedicated section in the speedrunning discord! Join our community to race with other people, and see news and discussion about upcoming
                features for the randomizer.</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="http://discord.smrpgspeedruns.com"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Archipelago Discord Channel</h3>
        </div>
        <div class="card-body">
            <p>Want to play SMRPG in a multiworld setting? You can play SMRPG Randomizer in <a href="https://archipelago.gg" target="_blank" rel="noopener noreferrer">Archipelago</a>! It's not officially supported yet, so search for "Super Mario RPG" in the "future-game-design" forum for all your SMRPG Archipelago needs.</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/Py2xnXaP"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">Super Mario RPG Modding Discord Server</h3>
        </div>
        <div class="card-body">
            <p>Want to learn the ropes of modding SMRPG and maybe contribute your own features to the randomizer one day? This is a great place to talk shop with other modders!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/uCwz2kQUZC"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
    <h1>SMRPG Remake Randomizer</h1>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">How to Play</h3>
        </div>
        <div class="card-body">
            <p>The 2023 Switch remake of SMRPG also has a randomizer! You can find info about how to play it on <a target="_blank" href="https://github.com/ObsidianMakerDevelopment/super-mario-rpg-switch-randomizer">GitHub</a>.</p>
            <p>The remake randomizer project is <b>NOT</b> officially affiliated with the SMRPG Randomizer project and our developers do not work on it. The remake randomizer developers are also not in any of the SMRPG discords, so you will have to get in touch with them elsewhere if you want to contribute to developing it.</p> 
        </div>
    </div>
    <div class="card border-info my-3">
        <div class="card-header bg-info text-white">
            <h3 class="card-title">SMRPG Remake Modding Discord Server</h3>
        </div>
        <div class="card-body">
            <p>Though not as active as the SNES modding discord, this server is full of great resources if you're interested in contributing to the randomizer project for the Switch release of SMRPG!</p>
            <div style="text-align:center;">
                <a class="btn btn-info btn-lg btn-xl" href="https://discord.gg/7VcMZs6bgY"
                    rel="noopener noreferrer" role="button" target="_blank">Join</a>
            </div>
        </div>
    </div>
{% endblock %}
